@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Spectral:wght@600&display=swap');
/*--------------------------
BASIC SETUP
--------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252525;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(./media/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 80px;
  color: #fff;
  margin-top: 650px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 26px;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #fff;
}

.center {
  margin: 0 auto;
}

ion-icon {
  color: #fff;
  font-size: 32px;
}

/*--------------------------
NAVIGATION BAR
--------------------------*/

.Nav {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55)
}

.Nav a {
  margin-right: 20px;
}

.Nav a:link, a:visited {
  transition: color 500ms ease-in-out;
}

.Nav a:hover, a:active {
  color: rgb(9, 177, 242)
}

/*--------------------------
HERO
--------------------------*/

/*--------------------------
TAKE SURVEY
--------------------------*/

.Take-Survey {
  background-color: #edece8;
  padding-top: 25px;
  padding-bottom: 50px;
}

/*--------------------------
VIEW SURVEYS
--------------------------*/

.View-Surveys {
  background-color: #edece8;
  padding-top: 25px;
  padding-bottom: 50px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #edece8;
}

table td, table th {
  border-bottom: 1px solid #ddd;
  padding-right: 20px;
}

table tr {
  vertical-align: center;
}

tbody>tr>:nth-child(1) {
  width: 15%;
}

tbody>tr>:nth-child(2) {
  width: 15%;
}

tbody>tr>:nth-child(3) {
  width: 22%;
}

tbody>tr>:nth-child(4) {
  width: 22%;
}

table tr:hover {
  background-color: #e2e2df;
}

.table-button {
  margin-top: 20px;
  margin-bottom: 20px;
  
}

/*--------------------------
CREATE SURVEY
--------------------------*/

.Create-Survey {
  background-color: #edece8;
  padding-top: 25px;
  padding-bottom: 50px;
}

input[type=text] {
  display: block;
  font-family: "Karla";
  font-size: 22px;
  background: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

input[type=text]::placeholder {
  color: lightgray;
}

#description {
  width: 400px;
}

input[type=text]:focus {
  border: 1px solid lightgray;
  outline: none;
}

.input-label {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.input-group {
  padding: 0 12px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

button, input[type=submit] {
  border: 0;
  display: block;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 15px 25px 15px 25px;
  /* margin-top: 25px; */
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #056796;
  transition: all 300ms ease-in-out;
}

.rounded {
  border-radius: 1.8125rem;
}

.create-button {
  margin-top: 25px;
}

button:hover, button:active, input[type=submit]:hover, input[type="submit"]:active {
  outline: 0;
  background-color: rgb(3, 74, 102);
}

/* keeps the border from showing when clicking button */

button:focus, input[type=submit]:focus {
  outline: none;
  border: none;
}

.button-group {
  display: inline-flex;
}

.button-group-start {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group-middle {
  border-radius: 0;
}

.button-group-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/*--------------------------
EDIT PAGE
--------------------------*/

.Edit-Survey {
  background-color: #edece8;
  padding-top: 25px;
  padding-bottom: 50px;
}

.instructions {
  text-align: center;
}

/* for some reason needs to be placed here and not higher up*/
.center-flex {
  display: flex;
  justify-content: center;
}

/*--------------------------
PREVIEW PAGE
--------------------------*/

.Preview-Survey {
  background-color: #edece8;
  padding-top: 25px;
  padding-bottom: 50px;
}

.preview-container {
  margin: 0 33%;
}

.preview-question {
  font-size: 24px;
  margin-bottom: 10px;
}

.preview-group {
  margin-bottom: 40px;
}

.preview-input {
  margin-left: 20px;
}

.preview-label {
  margin-left: 10px;
}

/*--------------------------
RADIO CREATION
--------------------------*/

.Create-Radio,
.Create-Checkbox,
.Create-Text,
.Create-TextArea,
.Create-Likert {
  padding-top: 25px;
  padding-bottom: 50px;
  margin: 0 33%;
  /* border: 1px solid #056796; */
}

.question-row {
  display: flex;
  align-items: center;
}

.question-number {
  font-size: 24px;
}

.question {
  width: 33vw;
  margin-bottom: 10px;
}

.answer {
  width: 23vw;
  margin-bottom: 10px;
}

.answer-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-answer-choice {
  /* margin-bottom: 10px;
  margin-left: 20px; */
}

ion-icon[name="add-outline"] {
  font-size: 18px;
}

/*--------------------------
CHECKBOX CREATION
--------------------------*/

/*--------------------------
TEXT CREATION
--------------------------*/

/*--------------------------
TEXT AREA CREATION
--------------------------*/

textarea {
  display: block;
  font-family: "Karla";
  font-size: 22px;
  background: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

textarea::placeholder {
  color: lightgray;
}

/*--------------------------
LIKERT CREATION
--------------------------*/

input[type="range"] {
  width: 33vw;
}

.range-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33vw;
  margin-top: 20px;
}